<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
        body{
       /* background-color: bisque; */
   background-size:cover;
   height: 100vh;
   }
   </style> -->
   <%- include("./partials/files.ejs") %>
</head>
<a href="/movie/new"><button class="btn btn-outline-primary">add movie</button></a>
<body class="indexbody"> 
    <h1 style="text-align: center; color: aliceblue;"> Most popular movies</h1>
    <div class="mainimg" >
         <%totalmovies.forEach((movie, index)=>{%>
          <a href="/movie/<%= movie._id%>">
            <img class="indexImg" src="<%=movie.image%>" alt="img"> 
            <h2 style="text-align: center;"><%= movie.title%></h2> 
        </a>
            <% })%>
    </div>

</body>
</html>

