<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <style>
         body{
        background-color: bisque;
    background-size:cover;
    height: 100vh;
    }
    </style> -->
    <%- include("./partials/files.ejs") %>
</head>

<body>
    <a href="/movie"><button class="btn btn-outline-primary">Home Page</button></a>
    <h1 style="text-align: center; color: aliceblue;">Create a New movie</h1>
    <div style="display: flex; justify-content: center; color: white;">
        <form method="post" action="/movie" >
            <label>Title<br><input type="text" name="title" /></label><br>
            <label>ReleaseDate<br><input type="text" name="releaseDate" /></label><br>
            <label> Director<br><input type="text" name="director" /></label><br>
            <label>Type<br><input type="text" name="type" /></label><br>
            <label>Rating<br><input type="number" name="rating" /></label><br>
            <label>Image<br><input type="text" name="image" /></label><br>
            <div>
                <input class= "btn btn-outline-primary" type="submit"  value="Add movie"/>  
            </div>
        </form>
    </div>
</body>
</html>