body{
   background-image: url("https://img.freepik.com/free-vector/tropical-leaves-background-zoom_23-2148580778.jpg");
   background-repeat: no-repeat;
   background-size: cover;
   height: auto;
   padding: 0 13rem 0 13rem;
} 

.mainimg{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 10px;
}
.mainimg img{
    width: 90%;
    height: 28rem;
    
}
@media (max-width: 767px) {
    .mainimg{ justify-content: center;
        overflow-y: scroll;
        display: block;
    }
    .indexImg{
        height: 300px;
    }
}

    
